* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* ----------------------Header-Start---------------------------------------------- */
.header {
  height: 45vh;
  background-image: url(../img/ocean.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
}

.text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}

.heading-primary-main {
  position: absolute;
  top: 25px;
  left: -50px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.heading-primary-secondary {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 64px;
  font-weight: 300;
  text-shadow: 2px 2px 8px rgb(10, 9, 9);
}

.heading-primary-last {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 64px;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgb(10, 9, 9);
}

/* ----------------------Header-End---------------------------------------------- */

/* ----------------------NavBar-Start---------------------------------------------- */

.navigation {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: rgba(12, 12, 12, 0.394);
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  font-family: "Darker+Grotesque", sans-serif;
}

.navbar li:hover {
  background-color: #eae6e6;
}

.navbar a:hover {
  color: #048376;
}
/* ----------------------NavBar-End---------------------------------------------- */

.container {
  padding-left: 25%;
  padding-right: 25%;
}

.container-2 {
  padding-left: 25%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.video iframe,
.videos object,
.video embed {
  width: 100%;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h2,
.figure-captions {
  font-size: 24px;
  font-weight: 400;
  font-family: "Special Elite", cursive;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Special Elite", cursive;
  padding-bottom: 10px;
  padding-top: 10px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-italic {
  font-style: italic;
}

.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ----------------Section 4 styling---------------- */
.conainer_image-para-2 {
  display: flex;
  flex-direction: row;
}

.conainer_image-para-1 {
  padding-bottom: 20px;
}

.conainer_image-para-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.conainer_image-para-2 .column {
  flex: 50%;
}

div.image-2 {
  background-color: #fff;
  transform: rotate(-3deg);
  box-shadow: 3px 4px 10px 0px black;
}

.image-2_para {
  padding-left: 30px;
}

div.image-2 img {
  width: 100%;
  padding: 10px;
}

div.image-2_captions {
  text-align: center;
  padding: 5px 0px;
}

div.image-2_captions p {
  font-size: 15px;
  font-weight: 600;
  color: gray;
}
/* ------------------------------------------------- */
/* ------------------------------Tabel Data -1-------------------------------------- */
caption {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.table-data_1 {
  margin-left: auto;
  margin-right: auto;
}
.table-data_1 colgroup {
  text-decoration: overline;
}

.table-data_1 td {
  border-bottom: 1px solid;
}

table {
  border-collapse: collapse;
}

/* --------------------------------End---------------------------------------------- */

/* -----------------------------Section-5------------------------------------------- */

div.image-3_container {
  background-color: #fff;
  transform: rotate(3deg);
  box-shadow: 3px 4px 10px 0px black;
  position: relative;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

div.image-3_container img {
  width: 100%;
  padding-bottom: 25px;
}

div.image-3_captions p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.section-5_flex_container_main {
  display: flex;
  flex-direction: row;
}

.section-5_flex_container-2 {
  display: flex;
  flex-direction: column;
}

.section-5_flex_container_1 {
  order: 2;
  flex: 25%;
}

.section-5_flex_container-2 {
  order: 1;
  flex: 55%;
  padding-right: 10px;
}

.section-5_container_flex-2,
.section-5_container_flex-3 {
  padding-bottom: 10px;
}

/* -----------------------------Section-5 End --------------------------------------- */

/* -----------------------------Section-6 Start --------------------------------------- */
.quote_2 {
  text-align: center;
}

i {
  font-weight: 400;
  font-size: 36px;
  /* color: #04b19f; */
  color: hsl(182deg 93% 33%);
}

#Ocean_Cleanup {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* -----------------------------Section-6 End ----------------------------------------- */

/* -----------------------------Section-7 Start --------------------------------------- */

div.image-4_container img {
  width: 100%;
  padding-bottom: 25px;
}

div.image-5_container img {
  width: 100%;
  padding-bottom: 25px;
}

div.section-7_paragraph p {
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  width: 35%;
}

.flex_container-2_main,
.section-7_flex_container-primary,
.section-7_flex_container-secondary {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.flex_container-2_primary {
  flex: 50%;
}

.section-7_flex_container_1,
.section-7_flex_container_2 {
  flex: 20%;
}

.section-7_flex_container_3 {
  order: 2;
  flex: 0%;
}

.section-7_flex_container_4 {
  display: flex;
  flex-direction: column;
  order: 1;
  padding-right: 20px;
  flex: 15%;
}

.section-7_flex_container_2 {
  flex: 15%;
}

.section-7_flex_container_4_primary,
.section-7_flex_container_4_secondary {
  padding-bottom: 20px;
}

div.image-4_container,
div.image-5_container {
  background-color: #fff;
  box-shadow: 3px 4px 10px 0px black;
  position: relative;
  padding: 10px;
}

div.image-4_container {
  transform: rotate(-2deg);
}

div.image-5_container {
  transform: rotate(2deg);
}

div.image-4_container img {
  width: 100%;
  padding-bottom: 25px;
}

div.image-5_container img {
  width: 100%;
  padding-bottom: 25px;
}

div.image-4_captions p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

div.image-5_captions p {
  font-size: 12px;
  font-weight: 600;
  color: gray;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#Plastic_Recycling {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* -----------------------------Section-7 End------------------------------------------- */
/* -----------------------------Calculator----------------------------------------------- */
.flex_container-2_secondary {
  flex: 10%;
  background-color: #fff6c6;
  border-radius: 20px;
  padding-left: 10px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Special Elite", cursive;
}

.Food_And_Kitchen tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.Disposable_Containers_Packaging tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.Bathroom_Laundry tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.Household_size tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}
.bottom button {
  background-color: #fff3b3;
  border-color: #fff3b3;
  border-radius: 6px;
  width: 55%;
  text-align: center;
  padding: 8px 16px;
}
/* -----------------------------Calculator----------------------------------------------- */

/* -------------------------------footer------------------------------------------------- */

footer {
  height: 15vh;
  background-image: url(../img/ocean.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
}

.footer-main {
  position: absolute;
  bottom: 25%;
  left: 25%;
}

.footer-main a {
  color: inherit;
}
/* -------------------------------------------------------------------------------------- */
@media (max-width: 800px) {
  .container,
  .container-2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header {
    height: 65vh;
  }
  .text-box {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-40%, -30%);
  }

  .heading-primary-main {
    top: 13px;
    left: -25px;
    font-size: 15px;
  }
  .heading-primary-secondary {
    font-size: 24px;
  }
  .heading-primary-last {
    font-size: 24px;
  }

  .navbar {
    flex-direction: column;
    min-height: 34vh;
  }

  .navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .navbar a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .video iframe,
  .videos object,
  .video embed {
    width: 100%;
    height: 250%;
  }

  .conainer_image-para-2 {
    flex-direction: column;
  }

  .image-2_para {
    padding-top: 25px;
    padding-left: 0px;
  }

  .section-5_flex_container_main {
    display: flex;
    flex-direction: column;
  }

  .section-5_flex_container_1 {
    order: 1;
  }

  .section-5_flex_container-2 {
    order: 2;
    padding-top: 20px;
  }

  .flex_container-2_main,
  .section-7_flex_container-primary,
  .section-7_flex_container-secondary,
  .flex_container-2_secondary {
    flex-direction: column;
  }
}
